<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

<div class="container">
  <h1> Angular Bot </h1>

  <div class="border chat-container">
    <div class="margin-l-r-6">
      <div #messageContainer [scrollTop]="messageContainer.scrollHeight" class="message-container">
        <ng-container *ngFor="let message of messages | async">
          <div class="message" [ngClass]="{ 'balaoDialogoBot float-left': message.sentBy === 'bot',
                                            'balaoDialogoUser float-right': message.sentBy === 'user' }">
            <span> {{message.content}} </span>
          </div>
        </ng-container>
      </div>
      <div>
        <label for="nameField"> Your Message </label>
        <input autofocus id="nameField" value="nameField" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
        <div class="float-right">
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>